<h2>Event Create Form</h2>
<%= form_for(:event, url: '/events', method: :post) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name,class: 'form-control' %>

  <%= f.label :date %>
  <%= f.date_field :date,class: 'form-control' %>

  <%= f.submit 'Create Event',class: 'btn btn-primary' %>

<% end %>
