<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to 'Create Event',new_event_path %></li>
            <li><%= link_to 'Show all Events',events_path %></li>
            <li><%= link_to "My Events", controller: "users", action: "show", id: current_user.id %></li>
            <li><%= link_to 'Logout',logout_path,method: :delete %></li>
          <% end %>
        </ul>
      </div>
  </header>
   <div class="head">
     <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <% flash.each do |message_type,message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
